<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="images/download.jpg" type="image/x-icon">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Web Dev</title>
    </head>
<body class="bg-danger text-light">
   <section class="py-5 ml-5 pl-5">
       <h1 class="display-3">Thank You</h1>
       <p class="lead ml-3"> You can start with wev dev now !</p>
       <a href="/" class="btn btn-dark btn-lg ml-3"> Go back home</a>
   </section> 
</body>
</html>